<div class="container">
	<h1>ジャンル編集画面</h1>
	<%= form_for @genre, :url => { :controller => :genres, action => :update } do |f| %>
	<h3><%= f.text_field :name %></h3>
	<%= f.submit '更新', class: "btn btn-primary" %>
	<%= end %>

	<% if @genre.deleted_at.nil? %>
	<%= link_to "無効にする", admins_genre_path, method: :delete, date: {confirm: '本当に削除しますか？'}　,class: "btn btn-denger" %>
	<% else %>
	<%= link_to "有効にする", genre_restore_admins_genre_path(@genre), method: :patch, class:"btn btn-primary" %>
	<% end %>
</div>
