<h1>注文情報確認</h1>

<table>
	<tr>
		<th>商品名</th>
		<th>単価（税込）</th>
		<th>数量</th>
		<th>小計</th>
	</tr>
	<% @order_details.each do |f| %>
	<tr>
		<td><%= f.product.name %></td>
		<td><%= f.ordered_price * 1.1 %></td>
		<td><%= f.ordered_item_count %></td>
		<td><%= f.ordered_price * f.ordered_item_count * 1.1 %></td>
	</tr>
	<% end %>
</table>

<table>
	<tr>
		<th>送料</th>
		<td>800</td>
	</tr>
	<tr>
		<th>商品合計</th>
		<td><%= @order.total_sum  %></td>
	</tr>
	<tr>
		<th>請求金額</th>
		<td><%=  @order.total_sum + 800 %></td>
	</tr>
</table>

<div><strong>支払方法</strong></div>
<div><strong>お届け先</strong></div>

<!--link先の入力が必要-->
<%= link_to '購入を確定する', _path %>