<div class="body-height">
<div class="container">
	<h1><strong>商品一覧画面<strong></h1>
	<%= link_to "+", new_admins_product_path, class: "btn btn-primary btn-circle pull-right" %>
	<table class="table">
		<thead>
			<tr>
				<th>商品id</th>
				<th>商品名</th>
				<th>税抜き価格</th>
				<th>ジャンル</th>
				<th>ステータス</th>
			</tr>
		</thead>
		<tbody>
		<% @admins_products.each do |p| %>
		<tr>
		<td><%= p.id %></td>
         <td><%= link_to p.name,admins_product_path(p.id) %></td>
            <td><%= p.non_taxed_price %>円</td>
            <td><%=p.genre.category %></td>
            <td><%= p.is_capable %></td>
        </tr>
		</th>
		<% end %>
	</tbody>
</table>
<%#= paginate @admins_products, class: "paginate" %>
</div>
</div>