<div class="container">
  <div class="row">
    <div class="col-md-3">
      <p></p>
      <thead>
        <tr>
        <th>ジャンル検索</th>
          </tr>
<%= form_tag(products_path,:method => 'get' ) do %>
        <%= text_field_tag :search %>
        <%= submit_tag 'Search', :name => nil %>
        <% @genre.each do |genre| %>
                <td><%= link_to genre.category, products_path(genre_id:genre.id) %></td>
        <% end %>
        <tbody>
          <h2>商品一覧</h2>
          <table class="table">
    <thead>
      <tr>
        <th>商品名</th>
        <th>税抜き価格</th>
      </tr>
    </thead>
    <tbody>
          <% @products.each do |product| %>
            <td><%= link_to product.name, product_path(product.id)%></td>
         <td><%= link_to product.non_taxed_price, product_path(product.id)%></td>


        </tbody>
            <% end %>
      </table>
    </div>
    <div class="col-md-9">
        <div class="flex_test-box">
       <!--カート送信ボタンのコード -->
            <div class="flex_test-item">
            </div>
        <% end %>
        </div>
    </div>
  </div>
</div>