<div class="container">
  <div class="row">
    <div class="col-md-3">
      <p></p>
<%= form_tag(products_path,:method => 'get' ) do %>
        <%= text_field_tag :search %>
        <%= submit_tag 'Search', :name => nil %>
        <% end %>
        <p></p>
        <thead>
        <tr>
        <th>ジャンル検索</th>
          </tr>
        </thead>
        <tbody>
          <h2>商品一覧</h2>
            <% @genres.each do |genre| %>
                <td><%= link_to genre.genre_name, products_path(genre_id: genre.id) %></td>
        </tbody>
            <% end %>
      </table>
    </div>
    <div class="col-md-9">
        <div class="flex_test-box">
　　　　 <!--カート送信ボタンのコード -->
        <% @products.each do |product| %>
            <div class="flex_test-item">
             <%= link_to product_path(product) do %>
             <% end %>
            </div>
        <% end %>
        </div>
    </div>
  </div>
</div>