<div class="container">
	<div class="row">
	<% render　partial:='products/genre_serch' locals: ,gener: @gener %>
	<!--右側商品詳細ページ-->
<div class="col-md-3">
		<% @products.each do |product| %>
<div class="col-xs-3 each_item">
		<%= link_to products_path(product) do %>
		<%= attachment_image_tag product, :image, style:"width:100%; bottom: 45px;" %>
			<% end %>
		<%= product.name %>
		<%= product.price %>円<br>
		<%= product.introduction%>
		<h4><%= addTax(@product.price)%>
		<span>円(税込価格)</span>
		</h4>
			</div>
			<% end %>
		    </div>
	        </div>
		<% if user_signed_in? %>
     <!-- ログインしていたらカートボタン表示 -->
      <%= form_for(@cart_item, url:cart_item_path) do |f| %>
       <%= f.select :quantity, [1,2,3,4,5,6,7,8,9,10] %>
        <%= f.hidden_field :product_id %>
        <% if @product.sales_status == false %>
      <%= f.submit '売り切れ', class: "btn btn-new-register btn-lg", disabled: true %>
      <% else %>
        <%= f.submit "カートに入れる", class: "btn btn-primary" %>
        <% end %>
        <% end %>
    </div>


