<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'  %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="navbar-header">
       <%= link_to "NaganoCake", root_path %>
      </div>
<!-- header デザイン分岐 -->
      <header class="header">
          <% if admin_signed_in? %>
              <%= render 'layouts/admin_header', genres:Genre.all %>
          <% else %>
              <%= render 'layouts/customers_header' %>
          <% end %>
      </header>

      <main>
        <%= yield %>
      </main>
    </header>
  </body>
</html>
